apiVersion: batch/v1
kind: Job
metadata:
  name: run-script-job
  namespace: rbac-lab
spec:
  backoffLimit: 2
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: worker
        image: busybox:1.37
        command: ["/bin/sh", "/scripts/process.sh"]
        volumeMounts:
        - name: script-volume
          mountPath: /scripts
      volumes:
      - name: script-volume
        configMap:
          name: process-script
          defaultMode: 0755
