apiVersion: batch/v1
kind: Job
metadata:
  name: test
spec:
  backoffLimit: 3
  parallelism: 1
  completions: 1
  template:
    spec:
      containers:
      - image: busybox
        name: test
        command: ["echo", "Hello, World!"]
      restartPolicy: Never